<?php

/**
 * This is the configuration file for fedoraProxy 
 */
return array(
        'logLevel' => 'PEAR_LOG_INFO',
        'logPath' => '/var/log',
        'baseUrl' => 'http://localhost:8080/fedora',
        'login' => 'fedoraAdmin',
        'password' => 'secret',
        'checkServerCertificate' => false, // should we check the server certificate
        'serverCertificate' => '', //path to additional CA certificates used to verify the target certificate
        'maxResults' => 259,
);
?>
